In [ ]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 9.0MB/s
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [ ]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/roshangrewal/coursera-applied-data-science-capstone/master/Week%203/toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [ ]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode  ...                                       Neighborhood
count         103  ...                                                103
unique        103  ...                                                103
top           M8Y  ...  Harbourfront East, Toronto Islands, Union Station
freq            1  ...                                                  1

[4 rows x 3 columns]

In [ ]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [ ]:
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [ ]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [ ]:
df[df.Postalcode == 'M5G']

   Postalcode           Borough        Neighborhood  Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.65609  -79.38493

In [ ]:
df.head(15)

   Postalcode      Borough  ...  Latitude  Longitude
0         M1B  Scarborough  ...  43.81139  -79.19662
1         M1C  Scarborough  ...  43.78574  -79.15875
2         M1E  Scarborough  ...  43.76575  -79.17470
3         M1G  Scarborough  ...  43.76812  -79.21761
4         M1H  Scarborough  ...  43.76944  -79.23892
5         M1J  Scarborough  ...  43.74446  -79.23117
6         M1K  Scarborough  ...  43.72582  -79.26461
7         M1L  Scarborough  ...  43.71289  -79.28506
8         M1M  Scarborough  ...  43.72360  -79.23496
9         M1N  Scarborough  ...  43.69510  -79.26466
10        M1P  Scarborough  ...  43.75998  -79.26940
11        M1R  Scarborough  ...  43.75075  -79.30054
12        M1S  Scarborough  ...  43.79452  -79.26708
13        M1T  Scarborough  ...  43.78491  -79.29722
14        M1V  Scarborough  ...  43.81781  -79.28044

[15 rows x 5 columns]

In [ ]:
df.to_csv('toronto_part2.csv',index=False)